# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.
endpoint_add_tcp "0.0.0.0:30110"
endpoint_add_udp "0.0.0.0:30110"
set mysql_connection_string "server=127.0.0.1;database=vrori;userid=root"

start mapmanager
start chat
start spawnmanager
start fivem
start hardcap
start rconlog
start runcode
start uniform
start mysql-async


#vRP
start vrp
start vrp_mysql
start vrp_dmvschool
start vrp_showroom
start vrp_garages
start vrp_job_display
start vrp_lscustoms
start vrp_basic_menu
start vrp_jail
start vrp_datetime
start vrp_armorshop
start vrp_arrestanims
start vrp_barbershop
start vrp_basic_mission
start vrp_delivery
start vrp_fuel
start vrp_gtfo
start vrp_lyd
start vrp_scrapyard
start vrp_tattoos
start vrp_taxi
start vrp_trucker
start vrp_truckerfuel
start vrp_ui
start vrp_deliverypizza
start vrp_foto
start vrp_carwash
start vrp_holdup
start vrp_robbery
start vrp_loadfreeze
start vrp_wanted
start vrp_kister
start ds_identity
start ds_guns
#start vrp_cuff
start vrp_addons_gcphone

#Ds
start ds_blackout
start ds_disclaimer
start ds_toj
start ds_report
start ds_commands
start ds_emotes
start on_playerlist
start ds_watermark
start ds_blink
start ds_besog
start ds_npcless
start ds_removecopsguns
start ds_scripts
start ds_seatswitch
start ds_towscript
start ds_npc
start ds_ui
start ds_carhud
start ds_skins
start ds_sound
start ds_loadingscreen
start ds_securitycams
start ds_driveby
start ds_bilskade
start ds_vejr
start ds_hospital
start ds_roblox
start ds_camera
start PTTPoliceRadio
start VabenScript
start ds_car
start ds_teleport
#start ds_maps
start ds_motor
start ds_clothing
start cardealer
start vrp_headbag
start on_atm
start ds_wk_wrs
start ds_cleanup
start gcphone
start eup-stream
start eup-ui
start NativeUI

# DarkSideRP

# kasperr
start kasperr_progress_handler
start kasperr_inventory
start kasperr_richpresence

#Biler
start biler
start faggio2
start taxi 
start vwcaddy
start supervolito
start polbike
start oakut
start oambu
start paramed


#Misc
start pNotify
start InteractSound
start iplLoader
start cwradargun
start els-fivem
start vrp_barrier

# Donator biler


#Restarts
restart sessionmanager


# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
#rcon_password changeme

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "^0[^1DK^0] ^1DarkSideRP ^0| ^33,5 MIL START ^0| ^2https://discord.gg/AXNyPj9 ^0| ^5NY SERVER ^0|"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32)
sv_maxclients 32

set steam_webApiKey "CD632692E132CB52297E7FCE16959867"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey hmepdcdzechdr3qn4z7z5lzxs0f7a6gb