/*
  __  __           _            _                 _  __                         _____  
 |  \/  |         | |          | |               | |/ /                        |  __ \ 
 | \  / | __ _  __| | ___      | |__  _   _      | ' / __ _ ___ _ __   ___ _ __| |__) |
 | |\/| |/ _` |/ _` |/ _ \     | '_ \| | | |     |  < / _` / __| '_ \ / _ \ '__|  _  / 
 | |  | | (_| | (_| |  __/     | |_) | |_| |     | . \ (_| \__ \ |_) |  __/ |  | | \ \ 
 |_|  |_|\__,_|\__,_|\___|     |_.__/ \__, |     |_|\_\__,_|___/ .__/ \___|_|  |_|  \_\
                                       __/ |                   | |                     
                                      |___/                    |_|                     

  Author: Kasper Rasmussen
  Steam: https://steamcommunity.com/id/kasperrasmussen
*/

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  overflow: hidden;
  font-family: monospace;
}

body {
  font-family: 'Roboto', sans-serif;
}

.full-screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.container {
  position: relative;
  width: 1000px;
  height: 600px;
  color: #ebebeb;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  /* display: none; */
  padding: 56px 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.w3-light-grey {
  background-color: rgba(47, 54, 64, 0.6)!important;
}

.w3-green {
  background-color: rgba(64, 115, 158, 0.6)!important;
}