html {
	color: #fff;
}
#wrap {
	width: 480px;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
    color: rgba(255, 255, 255, 0.75);
	opacity: 0.75;
}
table {
	text-align: left;
	background-color: #000;
	border-radius: 15px;
}
td {
	padding-left: 8px;
	padding-right: 8px;
	font-size: 16px;
	font-family: 'Segoe Ui';
}
tr.bluebar {
    background-color: #3aadc1;
    color: rgba(255, 255, 255, 0.9);
	font-weight: bold;
}
.bluebartext {
	font-size: 13px;
	padding-top: 2px;
	padding-bottom: 2px;
}
tr.logo {
	background-color: transparent;
}
tr.header {
	height: 30px;
}
td.header {
	padding-left: 10px;
	padding-right: 10px;
}
td.job {
	width: auto;
	font-size: 16px;
	text-align: center;
	padding-top: 5px;
}
tr.footer {
	height: 10px;
}