*{
  margin: 0;
  padding: 0;
}

/* make body full page */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

@font-face {
  font-family: 'Calibri Light', sans-serif;
}

.console{
  background-color: white;
  color: red;
  font-weight: bold;
}

/* EDIT TO WORK WITH DUNKO VRP EDIT*/

.menu{
  background-color: rgba(30,30,30,0.60);
  /*background-size: cover;*/  
  font-family: 'Calibri Light', sans-serif;
  font-size: 1.5em;
  color: white;
  width: 271.5px;
  margin-left: 28px;
  margin-top: 11%;    
  height: 510px;
  text-align: center;  
  position: absolute;
  font-weight: bold;
  border-radius: 8px; 
}

.menu_description{
  border-radius: 0px 0px 8px 8px;
  box-shadow: inset -1px -1px 60px 0px rgba(0,0,0,1);
  box-shadow: -1px -1px 60px 0px rgba(0,0,0,1);
  background-color: rgba(30,30,30,0.80);
  font-family: 'Calibri Light', sans-serif;
  color: white;
  float: left;
  position: absolute;
  font-weight: bold;
  padding: 9px;
  font-size: 17px;
  max-width: 500px;
  max-height: 400px;
  border-radius: 0px 8px 8px 0px;
}

.menu h1{
  background-color: rgba(0,0,0);
  color: white;
  text-align: center;
  height: auto;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;  
}

.choices{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 92%;    
}

.choices::-webkit-scrollbar{ 
  display: none; 
}

.choices div{
  padding: 8px;
  font-size: 16px;
  font-weight: bold;     
}

.choices .selected{
  background-color: rgba(193,193,193,0.80);
  color: black;
  box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
  border-radius: 0px 0px 8px 8px;  
}

/* progress bar */
.progressbar{
  position: absolute;
}

.progressbar .inner{
}

.progressbar .label{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* wprompt */
.wprompt{
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  color: white;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.wprompt h1{
  font-family: 'Calibri Light', sans-serif;
  text-transform: capitalize;
  font-size: 1.1em;
}

.wprompt textarea{
  font-family: 'Calibri Light', sans-serif;
  outline: none !important;
  background-color: rgba(0,0,0,0.75);
  border: 1px solid rgba(255,255,255,0.30);
  background-image: url("https://cdn.discordapp.com/attachments/629777090803138580/646094627052585047/darkside.png");
  background-repeat: no-repeat;
  background-position: right bottom;  
  flex: 1;
  color: white;
  width: 100%;
  padding: 4px;
  resize: none;
  box-sizing: border-box;
}

.wprompt textarea:focus{
  outline: none !important;
}

.wprompt .help{
  font-family: 'Calibri Light', sans-serif;
  text-transform: capitalize;
  font-size: 0.9em;
  font-style: italic;
  padding: 3px;
}

/* request manager */
.request_manager{
  position: absolute;
  top: 1%;
  right: 1%;
  text-align: right;
}

.request_manager div{
  margin-top: 10px;
}

.request_manager div > span{
  font-size: 1.0em;
  color: white;
  font-weight: bold;
  background-image: url("https://cdn.discordapp.com/attachments/629777090803138580/646094627052585047/darkside.png"); 
  background-repeat: no-repeat;
  background-position: left middle;  
  background-color: rgba(0,0,0,0.50);
  padding: 4px;
}

.request_manager .yes{
  padding-left: 15px;
  color: rgb(0,255,0);
  font-size: 1.0em;
}

.request_manager .no{
  color: rgb(255,0,0);
  font-size: 1.0em;
}


/* announce */

.announce{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 780px;
  height: 130px;
  padding: 10px;
  font-family: system-ui;  
  margin-left: -400px;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 2px 2px black;
  color: white;
  display: none;
  opacity: 0.90;
}
